<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a href="#"><img src="images/logo.jpg" alt="Logo" /></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="title-sec">
    <div class="main-title">
        <h1>RJ Registration</h1>
    </div>
    <div class="top-right">
        <ul>
            <li><a routerLink="/login">Sign in</a></li>
            <li class="active"><a routerLink="/register">Register</a></li>
        </ul>

    </div>

</div>
<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">

        <h3>Thank you for registering with TOM TOM</h3>
        <p>Please wait for the confirmation E-mail/SMS from the TOM TOM Admin. <span class="d-inline d-md-block">You willbe able to login to the Podccashboard once Admin approved.</span></p>
        <p>Please reach out to the <a href="mailto:info@tomtom">info@tomtom</a> if you did not get any response.</p>

    </div>
</div>