.chat-container {
    font-size: 13px;
    .card-header {
        img {
            border-radius: 50%;
            height: 32px;
        }
        span.online-status {
            color: green;
            /* margin-top: 6px; */
            position: relative;
            top: 4px;
            left: 5px;
        }
        span.rjname {
            position: relative;
            left: 10px;
        }
    }
}

div.chat-input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f7f7f7;
    box-shadow: 0 5px 15px #d3d3d3;
    position: absolute;
    bottom: 0;
    width: 75%;
    >div {
        width: 100%;
        span {
            position: relative;
            top: 5px;
            font-weight: bold;
        }
        a {
            position: relative;
            top: 7px;
            /* left: -5px; */
            width: 24px;
            display: inline-block;
            border: 1px solid #939292;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            padding: 3px;
            height: 24px;
            cursor: pointer;
        }
    }
}

input.chat-input {
    border: none;
    width: 90%;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.my-message {
    color: #141619;
    background-color: #d3d3d4;
    padding: 6px;
    border-radius: 10px;
    max-width: 74%;
    min-width: 52%;
    display: inline-block;
    margin-top: 10px;
    float: right;
}

.user-message {
    color: #0f5132;
    background-color: #d1e7dd;
    padding: 6px;
    border-radius: 10px;
    max-width: 74%;
    min-width: 52%;
    display: inline-block;
    margin-top: 10px;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 6px;
}

.top-bottom {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 9px;
    color: #9b9b9b;
}

.user-message span.created-date,
.my-message span.created-date {
    float: right;
    font-size: 10px;
}

.username {
    margin-left: 5px;
    position: relative;
    top: -3px;
}

.usermobile {
    margin-left: 5px;
    font-size: 10px;
    position: absolute;
    left: 45px;
    top: 20px;
    color: #a2a2a2;
}