<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a href="#"><img src="./assets/images/logo.jpg" alt="Logo" /></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="title-sec">
    <div class="main-title">
        <h1>Create Podcast Confirmation</h1>
    </div>
    <!-- <div class="top-right">
    <ul>
      <li><a href="signin.html">Sign in</a></li>
      <li class="active"><a href="register.html">Register</a></li>
    </ul>

  </div> -->

</div>
<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">

        <p>Dear {{_localStorage.getUserData().username}}, Your podcast is created. Currently it is Pending Approval from the Tomtom Admin.</p>
        <button class="custome-button"><a routerLink="/dashboard">ok</a></button>
    </div>
</div>