<app-loader *ngIf="_podService.isProcessing || isProcessing"></app-loader>
<app-header>

</app-header>
<div class="pending_status" *ngIf="_podService.Approval_Status == 'Pending'">Your approval is pending.</div>

<div class="pending_status" *ngIf="_podService.Approval_Status == 'Rejected'">Please Contact Admin</div>


<div class="container-fluid" *ngIf="_podService.Approval_Status == 'Approved'">
    <div class="row">
        <div class="col-12">

 
    <div class="body-content">
        <div class="information dasdboard">
            <ul>
                <li class="pending"><strong>{{_podService.StatisticsList.PendingTotal}} </strong> <a>Pending</a></li>
                <li class="rejected"><strong>{{_podService.StatisticsList.RejectedTotal}} </strong> <a>Rejected</a></li>
                <li class="modify"><strong>{{_podService.StatisticsList.ApprovedTotal}} </strong> Approved</li>
                <li class="approved"><strong>{{_podService.StatisticsList.LiveTotal}} </strong> Live</li>
                <li class="approved"><strong>{{_podService.StatisticsList.CommentTotal}} </strong> Comments</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive dashboard-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pic">Picture</th>
                                <th *ngIf="!_podService.podcastFilterList.isTittle">Title</th>
                                <th *ngIf="!_podService.podcastFilterList.iscategory">
                                    <a id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="iscategoryOpen = !iscategoryOpen" style="cursor: pointer;">Category</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5" [ngStyle]="{'display':iscategoryOpen ? 'block':'none'}">
                                        <li><a class="dropdown-item" *ngFor="let a of _podService.categoryList" (click)="_podService.searchList(a.name);iscategoryOpen = false">{{a.name}}</a>
                                        </li>
                                    </ul>
                                </th>
                                <th *ngIf="!_podService.podcastFilterList.isupdatedate">Upload Date</th>
                                <th *ngIf="!_podService.podcastFilterList.isstatus">
                                    <a id="btnGroupDrop6" class="dropdown-toggle curser" data-bs-toggle="dropdown" aria-expanded="false" (click)="isStatusOpen = !isStatusOpen">Status</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop6" [ngStyle]="{'display':isStatusOpen ? 'block':'none'}">
                                        <li class="pending" (click)="this._podService.searchList('Pending');isStatusOpen =false;"><a class="dropdown-item">Pending</a></li>
                                        <li class="approved" (click)="this._podService.searchList('Approved');isStatusOpen =false;"><a class="dropdown-item">Approved</a></li>
                                        <li class="rejected" (click)="this._podService.searchList('Rejected');isStatusOpen =false;"><a class="dropdown-item">Rejected</a></li>
                                        <li class="block" (click)="this._podService.searchList('Block');isStatusOpen =false;"><a class="dropdown-item">Block</a></li>
                                    </ul>
                                </th>
                                <th  *ngIf="!_podService.podcastFilterList.isbroadcast">Broadcast Date</th>
                                <th *ngIf="!_podService.podcastFilterList.iscommits">User Comments</th>
                                <th  *ngIf="!_podService.podcastFilterList.isedit">Edit</th>
                                <th  *ngIf="!_podService.podcastFilterList.islistdelete">Delete</th>
                                <th *ngIf="!_podService.podcastFilterList.isnote">Latest Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of _podService.RJDasboardList">
                                <td class="pic">
                                    <img *ngIf="list.imagepath" [src]="list.imagepath" alt="img" />
                                    <img *ngIf="!list.imagepath" src="./assets/images/login-img.jpg" alt="img" />
                                </td>
                                <td class="rjsname" *ngIf="!_podService.podcastFilterList.isTittle">
                                    <h5 class="mb-0">{{list.name}}</h5>
                                    <p (click)="gotopodcasters(list)"><a class="podcast">About Podcast</a></p>
                                </td>
                                <td *ngIf="!_podService.podcastFilterList.iscategory">{{list.category}}</td>
                                <td  *ngIf="!_podService.podcastFilterList.isupdatedate">
                                    <p class="mb-0">{{list.upload_date}}</p>
                                    <!-- <span class="small">{{list.UpdateTime}}</span> -->

                                </td>

                                <!-- The Modal -->
                                <!-- <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="mb-0"> Heading</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal">X</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>About the Podcasters</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <td *ngIf="list.approvals == 'Pending' && !_podService.podcastFilterList.isstatus">
                                    <li class="pending">{{list.approvals}}
                                    </li>
                                </td>
                                <td *ngIf="list.approvals == 'Approved' && !_podService.podcastFilterList.isstatus">
                                    <li class="rjapproved">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="list.approvals == 'Rejected' && !_podService.podcastFilterList.isstatus">
                                    <li class="rejected">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="list.approvals == 'Block' && !_podService.podcastFilterList.isstatus">
                                    <li class="block">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="list.approvals == 'Live' && !_podService.podcastFilterList.isstatus">
                                    <li class="live">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="list.approvals == 'Broadcast' && !_podService.podcastFilterList.isstatus">
                                    <li class="broadcast">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="list.approvals == 'Modify' && !_podService.podcastFilterList.isstatus">
                                    <li class="modify">{{list.approvals}}</li>
                                </td>
                                <td *ngIf="!_podService.podcastFilterList.isbroadcast">
                                    <p class="mb-0">{{list.broadcast_date}}</p>
                                    <!-- <span class="small">{{list.BroadcastTime}}</span> -->
                                </td>
                                <td  *ngIf="!_podService.podcastFilterList.iscommits">{{list.comment_count}}</td>
                                <td  *ngIf="!_podService.podcastFilterList.isedit"><a routerLink="/edit-podcast"><i class="fas fa-pen"
                                            (click)="_podService.podcastListData = list"></i></a></td>
                                <td  *ngIf="!_podService.podcastFilterList.islistdelete"><a data-bs-toggle="modal" (click)="deletepopup(list)" data-bs-target="#myModal3"><i class="fas fa-trash-alt curser"></i></a></td>
                                <td  *ngIf="!_podService.podcastFilterList.isnote">{{list.latest_note}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <app-delete-popup *ngIf="_podService.isDelete"></app-delete-popup>
</div>
</div>
</div>