<app-header>

</app-header>
<div class="body-main">
    <div class="body-content">
        <div class="information dasdboard">
            <ul>
                <li class="pending"><strong>{{StatisticsList[0].PendingTotal}} </strong> <a>Pending</a></li>
                <li class="rejected"><strong>{{StatisticsList[0].RejectedTotal}} </strong> <a>Rejected</a></li>
                <li class="approved"><strong>{{StatisticsList[0].ApprovedTotal}} </strong> Approved</li>
                <li class="approved"><strong>56</strong> Live</li>
                <li class="comments"><strong>300</strong> Comments</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive dashboard-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pic">Picture</th>
                                <th>Title</th>
                                <th>
                                    <a id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="iscategoryOpen = !iscategoryOpen" style="cursor: pointer;">Category</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5" [ngStyle]="{'display':iscategoryOpen ? 'block':'none'}">
                                        <li><a class="dropdown-item" *ngFor="let a of _podService.categoryList" (click)="_podService.searchList(a.name);iscategoryOpen = false">{{a.name}}</a></li>
                                    </ul>
                                </th>
                                <th class="text-center">Upload Date</th>
                                <th>
                                    <a href="" id="btnGroupDrop6" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Status</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop6">
                                        <li class="pending"><a class="dropdown-item">Pending</a></li>
                                        <li class="approved"><a class="dropdown-item">Approved</a></li>
                                        <li class="rejected"><a class="dropdown-item">Rejected</a></li>
                                        <li class="block"><a class="dropdown-item">Block</a></li>
                                    </ul>
                                </th>
                                <th class="text-center">Broadcast Date</th>
                                <th>User Comments</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                                <th>Latest Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of _podService.RJDasboardList">
                                <td class="pic">
                                    <img *ngIf="list.imagepath" [src]="list.imagepath" alt="img" />
                                    <img *ngIf="!list.imagepath" src="./assets/images/login-img.jpg" alt="img" />
                                </td>
                                <td class="rjsname">
                                    <h5 class="mb-0">{{list.name}}</h5>
                                    <p (click)="gotopodcasters(list)"><a>About the Podcasters</a></p>
                                </td>
                                <td>{{list.category}}</td>
                                <td class="text-center">
                                    <p class="mb-0">{{list.upload_date}}</p>
                                    <span class="small">{{list.UpdateTime}}</span>

                                </td>

                                <!-- The Modal -->
                                <!-- <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="mb-0"> Heading</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal">X</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>About the Podcasters</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <td>
                                    <li class="pending">{{list.approvals}}</li>
                                </td>
                                <td class="text-center">
                                    <p class="mb-0">{{list.broadcast_date}}</p>
                                    <span class="small">{{list.BroadcastTime}}</span>
                                </td>
                                <td class="text-center">{{list.UserComments}}</td>
                                <td class="text-center"><a routerLink="/edit-podcast"><i class="fas fa-pen" (click)="_podService.podcastListData = list"></i></a></td>
                                <td class="text-center"><a data-bs-toggle="modal" data-bs-target="#myModal3"><i class="fas fa-trash-alt"></i></a></td>
                                <td class="text-center">{{list.LatestNotes}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>