<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo">
                    <a href="#"><img src="assets/images/logo.jpg" alt="Logo" /></a>
                </div>
                <div class="top-title">
                    <h1>RJ Dashboard</h1>
                </div>
                <div class="logo-right">
                    <div class="top-user">
                        <div class="top-name">
                            <div>
                                <button id="btnGroupDrop1" type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                                <div class="subscribe">
                                    <span>200 Followers</span>
                                    <span>26 Subscribers</span>
                                    <span>4.5 Rating</span>
                                </div>

                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-img">
                            <img src="assets/images/login-img.jpg" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="admin-sec">
    <div class="row admin-top">
        <div class="col-md-8 px-1 d-flex">
            <a routerLink="/create-podcast" class="custome-button"><i class="fal fa-cloud-upload"></i> Create a podcast</a>
            <div class="top-search">
                <div class="input-group mb-0 mx-4">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search for podcast or Company or Data">
                </div>

            </div>


        </div>

        <div class="col-md-4 settings-main">
            <div class="s_inner">
                <div class="s-box">
                    <a href="#" id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sliders-h"></i></a>
                    <ul class="dropdown-menu top-filter" aria-labelledby="btnGroupDrop4">
                        <form>
                            <li>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check1">
                                    <label class="form-check-label" for="check1">RJ</label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check2">
                                    <label class="form-check-label">Thumbnails</label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check3">
                                    <label class="form-check-label">Title</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check4">
                                    <label class="form-check-label">Category</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check5">
                                    <label class="form-check-label">Upload Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check6">
                                    <label class="form-check-label">Update Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check7">
                                    <label class="form-check-label">Approvals</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check8">
                                    <label class="form-check-label">Broadcast Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check9">
                                    <label class="form-check-label">Notes</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check10">
                                    <label class="form-check-label">Edit</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check11">
                                    <label class="form-check-label">Delete</label>
                                </div>
                                <button class="custome-button my-3">Done</button>
                            </li>
                        </form>
                    </ul>
                </div>
                <div class="s-box"><a href="#" id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bell"></i><sup>5</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-envelope"></i><sup>10</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                        <li><a class="dropdown-item" href="edit-rj-profile.html">Edit Profile</a></li>
                        <!-- <li><a class="dropdown-item" href="edit-category.html">Edit Category</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#">Manage Ads</a></li> -->
                        <li><a class="dropdown-item" href="signin.html">Log out</a></li>
                    </ul>
                </div>
                <!-- <div class="s-box online"><a href="#"> Chat with RJs <i class="fas fa-user-cog"></i></a></div> -->
            </div>
        </div>
    </div>
</div>

<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">
        <div class="information dasdboard">
            <ul>
                <li class="pending"><strong>3</strong> <a href="#">Pending</a></li>
                <li class="rejected"><strong>1</strong> <a href="#">Rejected</a></li>
                <li class="approved"><strong>3</strong> Approved</li>
                <li class="approved"><strong>56</strong> Live</li>
                <li class="comments"><strong>300</strong> Comments</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive dashboard-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pic">Picture</th>
                                <th>Title</th>
                                <th>
                                    <a href="" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                                        <li><a class="dropdown-item" href="#">Comedy</a></li>
                                        <li><a class="dropdown-item" href="#">Politics</a></li>
                                        <li><a class="dropdown-item" href="#">News</a></li>
                                    </ul>
                                </th>
                                <th class="text-center">Upload Date</th>
                                <th>
                                    <a href="" id="btnGroupDrop6" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Status</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop6">
                                        <li class="pending"><a class="dropdown-item" href="#">Pending</a></li>
                                        <li class="approved"><a class="dropdown-item" href="#">Approved</a></li>
                                        <li class="rejected"><a class="dropdown-item" href="#">Rejected</a></li>
                                        <li class="block"><a class="dropdown-item" href="#">Block</a></li>
                                    </ul>
                                </th>
                                <th class="text-center">Broadcast Date</th>
                                <th>User Comments</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                                <th>Latest Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of RJDasboardList">
                                <td class="pic">
                                    <img [src]="list.image" alt="img" />
                                </td>
                                <td class="rjsname">
                                    <h5 class="mb-0">{{list.Title}}</h5>
                                    <p><a href="about-podcast.html">About the Podcasters</a></p>
                                </td>
                                <td>{{list.Category}}</td>
                                <td class="text-center">
                                    <p class="mb-0">{{list.UpdateDate}}</p>
                                    <span class="small">{{list.UpdateTime}}</span>

                                </td>

                                <!-- The Modal -->
                                <!-- <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="mb-0"> Heading</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal">X</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>About the Podcasters</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <td>
                                    <li class="pending">{{list.Status}}</li>
                                </td>
                                <td class="text-center">
                                    <p class="mb-0">{{list.BroadcastDate}}</p>
                                    <span class="small">{{list.BroadcastTime}}</span>
                                </td>
                                <td class="text-center">{{list.UserComments}}</td>
                                <td class="text-center"><a href="edit-podcast.html"><i class="fas fa-pen"></i></a></td>
                                <td class="text-center"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal3"><i class="fas fa-trash-alt"></i></a></td>
                                <td class="text-center">{{list.LatestNotes}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>