<app-header></app-header>


<div class="body-main">
    <div class="body-content">
        <h3><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
        <div class="c-podcast">
            <h3>About Podcast</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <p class="m-0">Podcast Name</p>
                            <h4>{{_podService.podcastListData.name}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Author Name</p>
                            <h4>{{_podService.podcastListData.author_name}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Language</p>
                            <h4>{{_podService.podcastListData.language}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Category</p>
                            <h4>{{_podService.podcastListData.category}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Discription</p>
                            <h4>{{_podService.podcastListData.description}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <section>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">


                                            <div class="dropzone-wrapper border-0">
                                                <div class="preview-zone" *ngIf="_podService.podcastListData.audiopath != ''">
                                                    <div class="box box-solid">

                                                        <div class="box-body"> <audio controls>
                                                            <source src="{{_podService.podcastListData.audiopath}}" type="audio/ogg">

                                                        </audio></div>
                                                    </div>
                                                </div>
                                                <div *ngIf="_podService.podcastListData.audiopath == ''">
                                                    <div class="dropzone-desc">
                                                        <i class="glyphicon glyphicon-download-alt"></i>
                                                        <p class="mb-1">" Morning comedy ver3 " file added</p>
                                                    </div>
                                                    <input type="file" name="img_logo" class="dropzone" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- <div class="drop-zone  border-0">
                        <span class="drop-zone__prompt">
              <p>Upload <br /> Podcast picture <br />Or<br /> Topic picture</p>
            </span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div> -->
                    <div class="drop-zone upload-image" *ngIf="!_podService.podcastListData.imagepath">
                        <span class="drop-zone__prompt"><p>Upload <br/> Podcast picture <br/>Or<br/> Topic picture</p> </span>
                        <input type="file" name="myFile" class="drop-zone__input" style="display: block;" (change)="uploadFile($event.target.files)" accept="image/" disabled>
                    </div>



                    <div class="drop-zone upload-image" *ngIf="_podService.podcastListData.imagepath">
                        <img [src]="_podService.podcastListData.imagepath" [alt]="_podService.podcastListData.imagepath">
                    </div>
                </div>
            </div>
            <!-- <div class="row">
        <div class="col-12">
         
          <button class="custome-button">Close</button>
        </div>
      </div> -->

            <div class="row my-4" *ngIf="_podService.noteList.length">
                <div class="col-12 mt-4">
                    <h2 class="mb-4">Notes on Podcast</h2>
                    <!-- <textarea class="form-control mb-4">Notes on edit if you wish to communicate admin</textarea> -->
                    <div class="table-responsive dashboard-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th class="text-center">File</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let note of _podService.noteList">
                                    <td>
                                        <p class="mb-0">{{note.note_date}}</p>
                                        <!-- <span class="small">20:30</span> -->

                                    </td>
                                    <td>
                                        <p class="m-0">{{note.fullname}} ({{note.usertype}})</p>
                                    </td>

                                    <td>{{note.status}}</td>
                                    <td>{{note.description}}</td>
                                    <td class="text-center">
                                        <a download="audio.mp3" [href]="note.audio_path" target="_blank"><i class="far fa-file-download"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>