<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo">
                    <a href="#"><img src="assets/images/logo.jpg" alt="Logo" /></a>
                </div>
                <div class="top-title">
                    <h1>RJ Dashboard</h1>
                </div>
                <div class="logo-right">
                    <div class="top-user">
                        <div class="top-name">
                            <div>
                                <button id="btnGroupDrop1" type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                                <div class="subscribe">
                                    <span>200 Followers</span>
                                    <span>26 Subscribers</span>
                                    <span>4.5 Rating</span>
                                </div>

                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-img">
                            <img src="assets/images/login-img.jpg" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="admin-sec">
    <div class="row admin-top">

        <div class="col-md-12 settings-main">
            <div class="s_inner">
                <div class="s-box"><a href="#" id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bell"></i><sup>5</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fas fa-envelope"></i><sup>10</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fas fa-cog"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                        <li><a class="dropdown-item" routerLink="/register">RJ Profiles</a></li>
                        <li><a class="dropdown-item" routerLink="edit-category.html">Edit Category</a></li>
                        <li><a class="dropdown-item" routerLink="#">Manage Ads</a></li>
                        <li><a class="dropdown-item" routerLink="#">Log out</a></li>
                    </ul>
                </div>
                <div class="s-box online"><a href="#"> Chat with RJs <i class="fas fa-user-cog"></i></a></div>
            </div>
        </div>
    </div>
</div>

<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">
        <h3><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
        <div class="c-podcast">
            <h3>About Podcast</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <p class="m-0">Podcast Name</p>
                            <h4>{{_podService.podcastListData.name}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Author Name</p>
                            <h4>{{_podService.podcastListData.author_name}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Language</p>
                            <h4>{{_podService.podcastListData.language}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Category</p>
                            <h4>{{_podService.podcastListData.category}}</h4>
                        </div>
                        <div class="col-12 mb-4">
                            <p class="m-0">Discription</p>
                            <h4>{{_podService.podcastListData.description}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <section>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">


                                            <div class="dropzone-wrapper border-0">
                                                <div class="preview-zone hidden">
                                                    <div class="box box-solid">

                                                        <div class="box-body"></div>
                                                    </div>
                                                </div>
                                                <div class="dropzone-desc">
                                                    <i class="glyphicon glyphicon-download-alt"></i>
                                                    <p class="mb-1">" Morning comedy ver3 " file added</p>
                                                </div>
                                                <input type="file" name="img_logo" class="dropzone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <div class="drop-zone  border-0">
                        <span class="drop-zone__prompt">
              <p>Upload <br /> Podcast picture <br />Or<br /> Topic picture</p>
            </span>
                        <input type="file" name="myFile" class="drop-zone__input">
                    </div>

                </div>
            </div>
            <!-- <div class="row">
        <div class="col-12">
         
          <button class="custome-button">Close</button>
        </div>
      </div> -->

            <div class="row my-4">
                <div class="col-12 mt-4">
                    <h2 class="mb-4">Notes on Podcast</h2>
                    <!-- <textarea class="form-control mb-4">Notes on edit if you wish to communicate admin</textarea> -->
                    <div class="table-responsive dashboard-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th class="text-center">File</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0">25th Jan 2021</p>
                                        <span class="small">20:30</span>

                                    </td>
                                    <td>
                                        <p class="m-0">Admin</p>
                                    </td>

                                    <td>(Live)</td>
                                    <td>We are going on live on 25th 22:10</td>
                                    <td class="text-center"><i class="far fa-file-download"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">25th Jan 2021</p>
                                        <span class="small">20:30</span>

                                    </td>
                                    <td>
                                        <p class="m-0">RJ</p>
                                    </td>

                                    <td>(Live)</td>
                                    <td>Nice work</td>
                                    <td class="text-center"><i class="far fa-file-download"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">25th Jan 2021</p>
                                        <span class="small">20:30</span>

                                    </td>
                                    <td>
                                        <p class="m-0">Admin</p>
                                    </td>

                                    <td>(Live)</td>
                                    <td>We are going on live on 25th 22:10</td>
                                    <td class="text-center"><i class="far fa-file-download"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">25th Jan 2021</p>
                                        <span class="small">20:30</span>

                                    </td>
                                    <td>
                                        <p class="m-0">RJ</p>
                                    </td>

                                    <td>(Live)</td>
                                    <td>Nice work</td>
                                    <td class="text-center"><i class="far fa-file-download"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">25th Jan 2021</p>
                                        <span class="small">20:30</span>

                                    </td>
                                    <td>
                                        <p class="m-0">Admin</p>
                                    </td>

                                    <td>(Live)</td>
                                    <td>We are going on live on 25th 22:10</td>
                                    <td class="text-center"><i class="far fa-file-download"></i></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>