<!-- <app-loader *ngIf="isProgessing"></app-loader> -->
<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a><img src="./assets/images/logo.jpg" alt="Logo" /></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<!-- <div class="title-sec">
    <div class="main-title">
      <h1>RJ Registration</h1>
    </div>
    <div class="top-right">
      <ul>
        <li><a href="signin.html">Sign in</a></li>
        <li class="active"><a href="register.html">Register</a></li>
      </ul>

    </div>

  </div> -->
<!--Title sec End Here-->

<!--Content start Here-->
<div class="body-main">
    <div class="body-content mt-3">
        <h3 class="mb-6"><a routerLink="/login"><i class="fas fa-angle-left"></i> Back to Sign in</a></h3>
        <h4>Forgot Password?</h4>
        <p>Please enter the register mobile number we will send you the OTP.</p>
        <form [formGroup]="MobileNumberForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-floating mb-0">
                        <input type="text" class="form-control" id="floatingInput" placeholder="+91 Mobile Number" formControlName="mobile">
                        <label for="floatingInput">+91 Mobile Number</label>
                    </div>
                    <div class="required-error">
                        <span class="error-span" *ngIf="MobileNumberForm.get('mobile').errors && (MobileNumberForm.get('mobile').touched || MobileNumberForm.get('mobile').dirty) || !isMobileNumberValid">
                        <span *ngIf="MobileNumberForm.get('mobile').hasError('required')">
                            mobile Number is required
                        </span>
                        <span class="error-span" *ngIf="MobileNumberForm.get('mobile').hasError('minlength')">
                            Minimum length 10 Characters
                        </span>
                        <span class="error-span" *ngIf="MobileNumberForm.get('mobile').hasError('maxlength')">
                            Maximum length 10 Characters
                        </span>
                        <span class="error-span" *ngIf="MobileNumberForm.get('mobile').hasError('customNumber')">
                           Numbers Only
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6"><button class="custome-button" (click)="getOTP()">Get OTP</button></div>
                <div class="col-12 mb-4">
                    <p class="mb-0">we have shared otp to your registered mobile number please enter the otp to proceed</p>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-12 d-flex flex-wrap mt-4 mt-md-0">
                <span *ngFor="let m of [1,2,3,4,5,6]; let i = index">
                <input class="form-control mb-4 small" id="input{{i}}" type="text" maxlength="1" [(ngModel)]="InputList['input'+m]" (keydown)=restrictKey($event,i)>
            </span>
                <!-- <input type="text" class="form-control mb-4 small" maxlength="1" (keydown)=restrictKey($event,0) [(ngModel)]="InputList.input1">
                <input type="text" class="form-control mb-4 small" (keydown)=restrictKey($event,1) [(ngModel)]="InputList.input2">
                <input type="text" class="form-control mb-4 small" (keydown)=restrictKey($event,2) [(ngModel)]="InputList.input3">
                <input type="text" class="form-control mb-4 small" (keydown)=restrictKey($event,3) [(ngModel)]="InputList.input4">
                <input type="text" class="form-control mb-4 small" (keydown)=restrictKey($event,4) [(ngModel)]="InputList.input5">
                <input type="text" class="form-control mb-4 small" (keydown)=restrictKey($event,5) [(ngModel)]="InputList.input6"> -->
                <div class="go-otp"><a><button class="custome-button" (click)="sendOTP()">GO</button></a></div>
            </div>
        </div>
        <p>If you did not get the OTP, Please click<a> Resend</a></p>

    </div>
</div>
<!--Content End Here-->