<app-loader *ngIf="isProcessing"></app-loader>
<app-header></app-header>


<div class="body-main">
    <div class="body-content">
        <h3><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
        <div class="c-podcast">
            <h3>Edit a Podcast</h3>
            <form [formGroup]="podcastForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Podcast Name" value="Podcast 34" formControlName="name">
                                    <label for="floatingInput">Podcast Name</label>
                                </div>
                            </div>
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Author Name" value="RJ Name" formControlName="author_name">
                                    <label for="floatingInput">Author Name</label>
                                </div>
                            </div>
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <select class="form-control" formControlName="language">
                                        <option *ngFor="let language of _podService.languageList"
                                            [value]="language.name">
                                            {{language.name}}</option>
                                    </select>
                                    <label for="floatingInput">Language</label>
                                </div>
                            </div>
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <select class="form-control" formControlName="category">
                                        <option *ngFor="let category of _podService.categoryList"
                                            [value]="category.name">
                                            {{category.name}}</option>
                                    </select>
                                    <label for="floatingInput">Category</label>
                                </div>
                            </div>
                            <div class="col-md-3 mb-4 d-flex align-items-center">
                                <p class="pe-3 mb-0">Age Restriction</p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="age_restriction">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <textarea class="form-control" placeholder="Describe you Podcast in few lines. Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines.Describe you Podcast in few lines."
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <section>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">


                                                <div class="dropzone-wrapper">
                                                    <div class="preview-zone" *ngIf="audioFileName != ''">
                                                        <div class="box box-solid">

                                                            <div class="box-body"> <audio controls>
                                                                    <source src="{{audioFileName}}" type="audio/ogg">

                                                                </audio></div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="audioFileName == ''">
                                                        <div class="dropzone-desc">
                                                            <i class="glyphicon glyphicon-download-alt"></i>
                                                            <p class="mb-1">Drag and Drop Audio file</p>
                                                            <p class="mb-1">Or</p>
                                                            <p>Double click here to add form library</p>
                                                        </div>
                                                        <input type="file" #fileInput (change)="uploadAudio($event.target.files)" name="img_logo" class="dropzone" accept="audio/*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>



                        <div class="drop-zone upload-image" *ngIf="!pictureFileName">
                            <span class="drop-zone__prompt"><p>Upload <br/> Podcast picture <br/>Or<br/> Topic picture</p> </span>
                            <input type="file" name="myFile" class="drop-zone__input" style="display: block;" (change)="uploadFile($event.target.files)" accept="image/">
                        </div>



                        <div class="drop-zone upload-image" *ngIf="pictureFileName">
                            <img [src]="pictureFileName" [alt]="pictureFileName">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control my-4" placeholder="Notes to communicate" [(ngModel)]="noteDescription" [ngModelOptions]="{standalone: true}"></textarea>
                        <button class="custome-button" (click)="updateProcast()">Update</button>
                    </div>
                </div>
            </form>
            <div class="row my-4" *ngIf="_podService.noteList.length">
                <div class="col-12 mt-4">
                    <h2 class="mb-4">Notes on Podcast</h2>
                    <!-- <textarea class="form-control mb-4">Notes on edit if you wish to communicate admin</textarea> -->
                    <div class="table-responsive dashboard-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Status</th>
                                    <th>Notes</th>
                                    <th class="text-center">File</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let note of _podService.noteList">
                                    <td>
                                        <p class="mb-0">{{note.note_date}}</p>
                                        <!-- <span class="small">20:30</span> -->

                                    </td>
                                    <td>
                                        <p class="m-0">{{note.usertype}}</p>
                                    </td>

                                    <td>{{note.status}}</td>
                                    <td>{{note.description}}</td>
                                    <td class="text-center">
                                        <a download="audio.mp3" [href]="note.audio_path" target="_blank"><i class="far fa-file-download"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>