<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo"></div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="title-sec">

    <div class="top-right">
        <ul>
            <li class="active"><a routerLink="/login">Sign in</a></li>
            <li><a routerLink="/register">Register</a></li>
        </ul>

    </div>

</div>
<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content login_page">
        <div class="sign-main">
            <div class="sign-img">
                <img src="assets/images/login-img.jpg" alt="Sign In" />
            </div>
            <div class="signin_form">
                <form [formGroup]="loginForm">
                    <div class="row">
                        <!-- [FormGroup]="loginForm" -->
                        <div class="col-md-10 col-12">

                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="floatingInput" placeholder="User Name" formControlName="username">
                                <label for="floatingInput">User Name</label>
                            </div>
                            <div class="required-error">
                                <span class="error-span" *ngIf="loginForm.get('username').errors && (loginForm.get('username').touched || loginForm.get('username').dirty) || !isloginFormValid">
                                    <span *ngIf="loginForm.get('username').hasError('required')">
                                        User Name is required
                                    </span>
                                </span>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="floatingInput" placeholder="Password" formControlName="password">
                                <label for="floatingInput">Password</label>
                            </div>
                            <div class="required-error">
                                <span class="error-span" *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty) || !isloginFormValid">
                                    <span *ngIf="loginForm.get('password').hasError('required')">
                                        Password is required
                                    </span>
                                </span>
                            </div>
                            <p class="forget"><a routerLink="/forgot-password">Forgot password</a></p>
                        </div>
                        <div>
                            <a><button class="custome-button" (click)="signin()">Sign In</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>