<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo"></div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="title-sec">

    <div class="top-right">
        <ul>
            <li class="active"><a href="signin.html">Sign in</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>

    </div>

</div>
<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content login_page">
        <div class="sign-main">
            <div class="sign-img">
                <img src="assets/images/login-img.jpg" alt="Sign In" />
            </div>
            <div class="signin_form">
                <div class="row">
                    <div class="col-md-10 col-12">

                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingInput" placeholder="User Name">
                            <label for="floatingInput">User Name</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Password">
                            <label for="floatingInput">Password</label>
                        </div>
                        <p class="forget"><a href="otp.html">Forgot password</a></p>
                    </div>
                    <div>
                        <a href="dashboard.html"><button class="custome-button">Sign In</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>