<div>
    <div class="background-grey"></div>
    <div class="popup-box">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="mb-0"> Delete</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="_podService.isDelete=false">X</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>Do you really want to delete the Podcast ?" </p>
            <h4 class="mb-1">Notes</h4>
            <textarea class="form-control mb-4" placeholder="Do you really want to delete the Podcast" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
            <a><button class="custome-outline mx-2" (click)="_podService.isDelete=false">Cancel</button></a>
            <a><button class="custome-button mx-2" (click)="DeletePodcast()">Confirm</button></a>
        </div>

    </div>
</div>