<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="logo">
                    <a href="#"><img src="images/logo.jpg" alt="Logo" /></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="title-sec">
    <div class="main-title">
        <h1>Edit Profile</h1>
    </div>
    <!-- <div class="top-right">
    <ul>
      <li><a href="signin.html">Sign in</a></li>
      <li class="active"><a href="register.html">Register</a></li>
    </ul>

  </div> -->

</div>
<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">
        <h3><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
        <h4>Edit RJ Profile</h4>
        <!-- <form class="my-4"> -->
        <div class="row">
            <div class="col-md-4 col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" value="RJ Full Name">
                    <label for="floatingInput">Full Name</label>
                </div>

            </div>
            <div class="col-md-4 col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="User Name *" value="Test">
                    <label for="floatingInput">User Name *</label>
                </div>

            </div>
            <div class="col-md-4 col-12 mb-4">
                <div class="form-floating">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Date of Birth *" value="26/02/2022">
                    <label for="floatingInput">Date of Birth *</label>
                </div>

            </div>
            <div class="col-md-6 col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="+91 Phone Number *" value="+91 9988776655">
                    <label for="floatingInput">+91 Phone Number *</label>
                </div>

            </div>
            <div class="col-md-6 col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Email ID *" value="test@gmail.com">
                    <label for="floatingInput">Email ID *</label>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Address 1" value="Adress1">
                    <label for="floatingInput">Address 1</label>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Address 2" value="Adress2">
                    <label for="floatingInput">Address 2</label>
                </div>
            </div>

            <div class="col-6 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Address 3" value="Adress3">
                    <label for="floatingInput">Address 3</label>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <select class="form-control">
          <option>Country</option>
        </select>
            </div>
            <div class="col-md-3 mb-4">
                <select class="form-control">
           <option>State</option>
         </select>
            </div>

            <div class="col-md-12 col-12 mb-4 d-flex align-items-center flex-wrap radio-width">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">Individual Podcaster</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Organisation</label>
                </div>
                <div class="w-50">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Organisation working for?">
                        <label for="floatingInput">Organisation working for?</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="co1-12 mb-4">
                <label><strong>Notes </strong></label>
                <textarea class="form-control mb-4">Reason for edit</textarea>
                <button class="custome-button"><a href="dashboard.html" >Update</a></button>
            </div>
            <!-- </form> -->
        </div>
    </div>