<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo">
                    <a href="#"><img src="./assets/images/logo.jpg" alt="Logo" /></a>
                </div>
                <div class="top-title">
                    <h1>RJ Dashboard</h1>
                </div>
                <div class="logo-right">
                    <div class="top-user">
                        <div class="top-img">
                            <span style="position: absolute;
                            left: -70px;
                            top: 15px;">{{userName}}</span>
                            <img src="./assets/images/login-img.jpg" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->

<div class="admin-sec">
    <div class="row admin-top">
        <div class="col-md-8 px-1 d-flex" *ngIf="!iscreatebuttonVisiable"></div>
        <div class="col-md-8 px-1 d-flex" *ngIf="iscreatebuttonVisiable">

            <a routerLink="/create-podcast" class="custome-button"><i class="fal fa-cloud-upload"></i> Create a
                podcast</a>
            <div class="top-search">
                <div class="input-group mb-0 mx-4">
                    <button class="btn btn-outline-secondary" type="button" (click)="_podService.searchList()"><i
                            class="fas fa-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search for podcast or Company or Data" [(ngModel)]='_podService.serachvalue' (keyup.enter)="_podService.searchList()">
                </div>
            </div>

        </div>

        <!-- <div class="col-md-4 settings-main">
            <div class="s_inner">
                <div class="s-box" *ngIf="iscreatebuttonVisiable">
                    <a id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sliders-h"></i></a>
                    <ul class="dropdown-menu top-filter" aria-labelledby="btnGroupDrop4">
                        <form>
                            <li>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check1">
                                    <label class="form-check-label" for="check1">RJ</label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check2">
                                    <label class="form-check-label">Thumbnails</label>
                                </div>

                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check3">
                                    <label class="form-check-label">Title</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check4">
                                    <label class="form-check-label">Category</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check5">
                                    <label class="form-check-label">Upload Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check6">
                                    <label class="form-check-label">Update Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check7">
                                    <label class="form-check-label">Approvals</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check8">
                                    <label class="form-check-label">Broadcast Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check9">
                                    <label class="form-check-label">Notes</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check10">
                                    <label class="form-check-label">Edit</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check11">
                                    <label class="form-check-label">Delete</label>
                                </div>
                                <button class="custome-button my-3">Done</button>
                            </li>
                        </form>
                    </ul>
                </div>
                <div class="s-box"><a id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bell"></i><sup>5</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <li><a class="dropdown-item">link 1</a></li>
                        <li><a class="dropdown-item">link 2</a></li>
                        <li><a class="dropdown-item">link 3</a></li>
                        <li><a class="dropdown-item">link 4</a></li>
                        <li><a class="dropdown-item">link 5</a></li>
                        <li><a class="dropdown-item">link 6</a></li>
                        <li><a class="dropdown-item">link 7</a></li>
                        <li><a class="dropdown-item">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a (click)="issettingOpen=!issettingOpen" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5" [ngStyle]="{'display':issettingOpen ? 'block':'none'}">
                        <li><a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a></li>
                        <li><a class="dropdown-item" routerLink="/login" (click)="LogOut()">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="col-md-4 settings-main">
            <div class="s_inner">
                <div class="s-box" *ngIf="_podService.isListPage">
                    <a [class.active]="_podService.filterApplied" (click)="_podService.resetValues()">
                        <i class="fas fa-sync"></i>
                    </a>
                </div>
                <div class="s-box" *ngIf="_podService.isListPage" style="position: relative;">
                    <a id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="ShowFilter = !ShowFilter;showBell = false;issettingOpen=false"><i class="fas fa-sliders-h curser"></i></a>
                    <ul class="dropdown-menu top-filter" aria-labelledby="btnGroupDrop4" *ngIf="ShowFilter" [ngStyle]="{'display':ShowFilter && _podService.RJDasboardList.length ? 'block':'none'}" style="right: 0px;min-width: 11rem;">
                        <form>
                            <li>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check1" [(ngModel)]="_podService.podcastFilterList.isTittle" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Title</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check2" [(ngModel)]="_podService.podcastFilterList.iscategory" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Category</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check3" [(ngModel)]="_podService.podcastFilterList.isupdatedate" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Upload Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check4" [(ngModel)]="_podService.podcastFilterList.isstatus" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Status</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check5" [(ngModel)]="_podService.podcastFilterList.isbroadcast" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Broadcast Date</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check6" [(ngModel)]="_podService.podcastFilterList.iscommits" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">User Comments</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check7" [(ngModel)]="_podService.podcastFilterList.isedit" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Edit</label>
                                </div>
                                <!-- <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check8" [(ngModel)]="_podService.podcastFilterList.islistdelete" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Delete</label>
                                </div> -->
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="check9" [(ngModel)]="_podService.podcastFilterList.isnote" [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label">Latest Notes
                                    </label>
                                </div>
                                <button class="custome-button my-3" (click)="ShowFilter = false">Done</button>
                            </li>
                        </form>
                    </ul>
                </div>
                <div class="s-box" style="position: relative;">
                    <a (click)="updateNotification();showBell = !showBell;ShowFilter = false;issettingOpen=false" id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bell curser"></i><sup *ngIf="_podService.StatisticsList.UnreadNotificationCount != '0'">{{_podService.StatisticsList.UnreadNotificationCount}}</sup></a>
                    <!--  -->
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3" [ngStyle]="{'display':showBell ? 'block':'none'}" style="right: 0;">
                        <li *ngFor="let a of _podService.NotificationList">
                            <a class="dropdown-item" (click)="showBell=false;_podService.NotificationsearchList(a.podcast_id)" [innerHtml]="a.message" [ngClass]="{'viewedlist':a.viewed == '1'}"></a>
                        </li>
                        <!-- <li><a class="dropdown-item" (click)="getSelectedList(a)" *ngFor="let a of prodcastService.NotificationList" style="cursor: pointer;" [innerHTML]="a.message" ></a></li> -->


                        <!-- <li><a class="dropdown-item" (click)="showBell = false">link 2</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 3</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 4</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 5</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 6</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 7</a></li>
                        <li><a class="dropdown-item" (click)="showBell = false">link 8</a></li> -->
                    </ul>
                </div>
                <div class="s-box">
                    <a (click)="issettingOpen=!issettingOpen;showBell = false;ShowFilter = false;" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog curser"></i></a>
                    <ul class="dropdown-menu setting" aria-labelledby="btnGroupDrop5" [ngStyle]="{'display':issettingOpen ? 'block':'none'}">
                        <li><a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a></li>
                        <li><a class="dropdown-item" routerLink="/login" (click)="LogOut()">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Title sec End Here-->