<!--Header Start Here-->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
                <div class="logo">
                    <a href="#"><img src="assets/images/logo.jpg" alt="Logo" /></a>
                </div>
                <div class="top-title">
                    <h1>RJ Dashboard</h1>
                </div>
                <div class="logo-right">
                    <div class="top-user">
                        <div class="top-name">
                            <div>
                                <button id="btnGroupDrop1" type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </button>
                                <div class="subscribe">
                                    <span>200 Followers</span>
                                    <span>26 Subscribers</span>
                                    <span>4.5 Rating</span>
                                </div>

                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-img">
                            <img src="assets/images/login-img.jpg" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End Here-->

<!--Title sec Start Here-->
<div class="admin-sec">
    <div class="row admin-top">

        <div class="col-md-12 settings-main">
            <div class="s_inner">
                <div class="s-box"><a href="#" id="btnGroupDrop3" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bell"></i><sup>5</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop4" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fas fa-envelope"></i><sup>10</sup></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <li><a class="dropdown-item" href="#">link 1</a></li>
                        <li><a class="dropdown-item" href="#">link 2</a></li>
                        <li><a class="dropdown-item" href="#">link 3</a></li>
                        <li><a class="dropdown-item" href="#">link 4</a></li>
                        <li><a class="dropdown-item" href="#">link 5</a></li>
                        <li><a class="dropdown-item" href="#">link 6</a></li>
                        <li><a class="dropdown-item" href="#">link 7</a></li>
                        <li><a class="dropdown-item" href="#">link 8</a></li>
                    </ul>
                </div>
                <div class="s-box">
                    <a href="#" id="btnGroupDrop5" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fas fa-cog"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                        <li><a class="dropdown-item" href="rj-profile.html">RJ Profiles</a></li>
                        <li><a class="dropdown-item" href="edit-category.html">Edit Category</a></li>
                        <li><a class="dropdown-item" href="#">Manage Ads</a></li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </div>
                <div class="s-box online"><a href="#"> Chat with RJs <i class="fas fa-user-cog"></i></a></div>
            </div>
        </div>
    </div>
</div>

<!--Title sec End Here-->


<div class="body-main">
    <div class="body-content">
        <h3><a routerLink="/dashboard"><i class="fas fa-angle-left"></i> Back to Dashboard</a></h3>
        <div class="c-podcast">
            <h3>Creat a Podcast</h3>
            <form [formGroup]="podcastForm" (submit)="createProcast()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Podcast Name" formControlName="name">
                                    <label for="floatingInput">Podcast Name</label>
                                </div>
                            </div>
                            <div class="col-md-9 mb-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Author Name" formControlName="author_name">
                                    <label for="floatingInput">Author Name</label>
                                </div>
                            </div>
                            <div class="col-md-9 mb-4">
                                <select class="form-control" formControlName="language">
                  <option>Language</option>
                </select>
                            </div>
                            <div class="col-md-9 mb-4">
                                <select class="form-control" formControlName="category">
                  <option *ngFor="let category of categoryList" [value]="category.name">
                    {{category.name}}</option>
                </select>
                            </div>
                            <div class="col-md-3 mb-4 d-flex align-items-center">
                                <p class="pe-3 mb-0">Explicit</p>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="name">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <textarea class="form-control" placeholder="Describe you Podcast in few lines." formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <section>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">


                                                <div class="dropzone-wrapper">
                                                    <div class="preview-zone hidden">
                                                        <div class="box box-solid">

                                                            <div class="box-body"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dropzone-desc">
                                                        <i class="glyphicon glyphicon-download-alt"></i>
                                                        <p class="mb-1">Drag and Drop Audio file</p>
                                                        <p class="mb-1">Or</p>
                                                        <p>Double click here to add form library</p>
                                                    </div>
                                                    <input type="file" name="img_logo" class="dropzone" formControlName="audiopath">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>



                        <div class="drop-zone">
                            <span class="drop-zone__prompt">
                <p>Upload <br /> Podcast picture <br />Or<br /> Topic picture</p>
              </span>
                            <input type="file" name="myFile" class="drop-zone__input" formControlName="imagepath">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="custome-button"><a routerLink="create-podcast-confirmation.html"
                (click)="createProcast()">Create</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>