#toast-popup {
    position: fixed;
    top: -150px;
    right: 15px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    width: 315px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#toast-popup.success {
    border-left: 5px solid #09e809;
}

#toast-popup.error {
    border-left: 5px solid #d82121;
}

#toast-popup.warning {
    border-left: 5px solid #ce7714;
}

#toast-popup.info {
    border-left: 5px solid #5690ff;
}

#toast-popup>i {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: -webkit-baseline-middle;
}

#toast-popup>i.success {
    color: #09e809;
}

#toast-popup>i.error {
    color: #d82121;
}

#toast-popup>i.warning {
    color: #ce7714;
}

#toast-popup>i.info {
    color: #5690ff;
}

#toast-popup>i.close {
    position: absolute;
    right: 12px;
    font-size: 16px;
    color: #8e8f94;
}

#toast-popup h4 {
    padding: 0;
    margin: 0;
    display: inline;
}

#toast-popup.success h4 {
    color: #09e809;
}

#toast-popup.error h4 {
    color: #d82121;
}

#toast-popup.warning h4 {
    color: #ce7714;
}

#toast-popup.info h4 {
    color: #5690ff;
}

#toast-popup p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #8e8f94;
    margin-left: 30px;
    margin-top: -5px;
}

.upload-image {
    position: relative;
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}