#toast-popup {
    position: fixed;
    top: -150px;
    right: 15px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    width: 315px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#toast-popup.success {
    border-left: 5px solid #09e809;
}

#toast-popup.error {
    border-left: 5px solid #d82121;
}

#toast-popup.warning {
    border-left: 5px solid #ce7714;
}

#toast-popup.info {
    border-left: 5px solid #5690ff;
}

#toast-popup>i {
    font-size: 16px;
    margin-right: 10px;
    vertical-align: -webkit-baseline-middle;
}

#toast-popup>i.success {
    color: #09e809;
}

#toast-popup>i.error {
    color: #d82121;
}

#toast-popup>i.warning {
    color: #ce7714;
}

#toast-popup>i.info {
    color: #5690ff;
}

#toast-popup>i.close {
    position: absolute;
    right: 12px;
    font-size: 16px;
    color: #8e8f94;
}

#toast-popup h4 {
    padding: 0;
    margin: 0;
    display: inline;
}

#toast-popup.success h4 {
    color: #09e809;
}

#toast-popup.error h4 {
    color: #d82121;
}

#toast-popup.warning h4 {
    color: #ce7714;
}

#toast-popup.info h4 {
    color: #5690ff;
}

#toast-popup p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #8e8f94;
    margin-left: 30px;
    margin-top: -5px;
}

.upload-image {
    position: relative;
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.logo {
    width: auto;
    height: 50px;
}

.setting {
    right: 25px;
    text-align: right;
    min-width: auto;
}

.loader-outer {
    display: block;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.loader-content {
    background: #fff;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    // width: 150px;
    border-radius: 10px;
    padding: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #d60000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.error-span {
    color: #f00;
}

.background-grey {
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0.4;
    bottom: 0;
    z-index: 8;
    left: 0;
}

.popup-box {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 70vh;
    margin: auto;
    background-color: #fff;
    border-radius: 4px;
    z-index: 10;
    padding: 20px;
}

.viewedlist {
    color: #000 !important;
}

.podcast {
    cursor: pointer;
    color: #0e7ea3;
}

.pending_status {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: #d03131;
    font-style: italic;
}

.curser {
    cursor: pointer;
}

.s-box a {
    cursor: pointer;
    &.active {
        color: #00bcfe;
    }
}